:root {
    --main-color: #EEEFF1;
    --second-color: #34547A;
    --text-color: #727272;
    --letter-spacing: 0.1em;
}

@media (max-width: 1159px){
    body {
        font-size: 14px;
    }
    .header__navbar--list {
        flex-direction: column;
    }

    body .description h1 {
        width: 375px;
    }

    body .description__about {
        width: 300px;
        line-height: 22px;
    }

    body .description__button {
        padding: 10px 20px;
    }
    body .dark__background{
        height: 700px;
    }
    .main__projectlist{
        flex-direction: column;
    }
    .video{
        display: none;
    }
    body .video-link{
        display: block;
        font-size: 25px;
        text-align: center;
        margin-bottom: 100px;
        margin-top: -43px;
    }
}

body{
    font-family: Roboto, serif;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-color: var(--main-color);
}
.header__navbar--list{
    display: flex;
    gap: 42px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.navbar__list--item a:hover{
    color: var(--second-color);
}
.navbar__list--item a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}
.description{
    padding-top: 82px;
    padding-bottom: 141px;
}
.description h1{
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 60px;
}
.description__about{
    width: 540px;
    color: var(--text-color);
    padding-bottom: 65px;
    letter-spacing: 0.05em;
    line-height: 26px;
}
.description__button{
    background-color: var(--second-color);
    border: none;
    padding: 20px 41px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}

.header{
    margin-bottom: 112px;
}
.container h2{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 500;
}
.main__container p{
    text-align: center;
    margin-inline: auto;
    margin-bottom: 100px;
}

.dark__background{
    background-color: var(--second-color);
    height: 250px;
    /*margin-bottom: 100px;*/
}

.main__projectlist{
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 100px;
    padding-top:  100px;
    color: #FFFFFF;
}

.main__projectlist--item{
    height: 50px;
    width: 141px;
    background: left no-repeat url("../images/group.png");
    padding-left: 70px;
    font-size: 21px;
    line-height: 25x;
}

.projectlist__works--project{
    font-size: 16px;
    letter-spacing: 0.05em
}
.video{
    margin-bottom: 100px;
    margin-top: -43px;
}

.video-link{
    display: none;
}

.copyright{
    padding-top: 50px;
    color: white;
}
.copyright__head{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
}
.copyright__text{
    font-size: 13px;
    line-height: 21px;
}

footer .dark__background{
    height: 151px;
}